.portfolio-blob {
    background-color: $blob-light;
}

.portfolio-svg {
    fill: $blob-light;
}

.social-links {
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 0;
}

body[data-theme] {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body[data-theme="dark"] {
    .portfolio-blob {
        background-color: $blob-dark;
    }

    .portfolio-svg {
        fill: $blob-dark;
    }
}

#page-view-counter {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.25rem 0.5rem;
    background-color: $white;
    border: 1px solid $light;
    color: $text-base-color;
    font-size: $small-font-size;
    border-radius: 4px;
    z-index: 1000;
    width: auto !important;
    height: auto !important;
    display: flex;
    gap: 4px;
}

body[data-theme="dark"] #page-view-counter {
    background-color: $dark-black;
    border-color: $dark-light;
    color: $dark-white;
}

@media screen and (max-width: 768px) {
    .social-links {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
        align-items: flex-start;
    }

    #portfolio-intro {
        flex-direction: column-reverse;
        align-items: center;
    }
}
