.portfolio-blob {
    background-color: $blob-light;
}

.portfolio-svg {
    fill: $blob-light;
}

.popup-wrapper {
    background: linear-gradient(to bottom right, $blob-light, $blob-light-gradient);
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.popup-container {
    background-color: $white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    padding: 20px;
    min-width: 90vw;
    max-width: 90vw;
    min-height: 90%;
    max-height: 90%;
    z-index: 100;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

body[data-theme] {
    padding: 0;
    margin: 0;
    background-color: transparent;
}

body[data-theme="dark"] {
    .portfolio-blob {
        background-color: $blob-dark;
    }

    .portfolio-svg {
        fill: $blob-dark;
    }

    .popup-wrapper {
        background: linear-gradient(to bottom right, $blob-dark, $blob-dark-gradient);
    }
    .popup-container {
        background-color: $black;
    }
}

