@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.popup-wrapper {
    background: linear-gradient(to bottom right, $blob-light, $blob-light-gradient);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    box-sizing: border-box;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    --bg-x: 0%;
    --bg-y: 50%;
    background-position: var(--bg-x) var(--bg-y);
}

.popup-container {
    background-color: $white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    min-width: 90vw;
    margin: 20px;
    max-width: 1650px;
    height: 90%;
    z-index: 100;
}

body[data-theme="dark"] {
    .popup-wrapper {
        background: linear-gradient(to bottom right, $blob-dark, $blob-dark-gradient);
        background-size: 200% 200%;
        animation: gradient 5s ease infinite;
        box-sizing: border-box;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    .popup-container {
        background-color: $black;
    }
}

@media screen and (max-width: 768px) {
    .popup-wrapper {
        padding: 50px; /* Add 50px padding for mobile devices */
    }
    
    body[data-theme="dark"] {
        .popup-wrapper {
            padding: 50px; /* Add 50px padding for mobile devices */
        }
    }
}
