<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-86MD3VSW50"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-86MD3VSW50');
</script>
<script>
  var t = setInterval(function () {
    if (window.goatcounter && window.goatcounter.get_data) {
      clearInterval(t);
      var path = window.goatcounter.get_data().p;
      var url =
        'https://ferry.goatcounter.com/counter/' +
        encodeURIComponent(path) +
        '.json?start=day';
      fetch(url)
        .then(function (resp) {
          return resp.json();
        })
        .then(function (data) {
          var box = document.createElement('div');
          box.id = 'page-view-counter';
          box.textContent = 'users in the past 24h: ' + data.count;
          document.body.appendChild(box);
        });
    }
  }, 100);
</script>
<script data-goatcounter="https://ferry.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
