---
layout: home
---

<h4 class="posts-item-note">Recent Posts</h4>
{% for post in site.posts %}
{% unless post.tags contains 'noshow' %}
<article class="post-item">
    <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
    <h4 class="post-item-title">
        <a href="{{ post.url }}">{{ post.title | escape }}</a>
        {% if post.tags.size > 0 %}
        <a href="{{ post.tags[0] | downcase | prepend: '/tags/#' }}" class="inline-tag">&nbsp;{{ post.tags[0] | escape }}</a>
        {% endif %}
    </h4>
</article>
{% endunless %}
{% endfor %}
