---
layout: default-noauth
---
<style>
body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}
#inbox {
    margin-left: 30px;
    margin-right: 30px;
}
ul {
    border-top: 1px solid #000;
    list-style: none;
    padding: 0;
    padding-top: 20px;
    margin: 0px;
    min-width: 500px;
    max-width: 750px;
}
li {
    padding: 7px 0;
    display: flex;
}
li > div {
    flex-grow: 1;
    white-space: nowrap;
}
li > div:nth-child(1) {
    min-width: 300px;
}
li > div:nth-child(2) {
    min-width: 200px;
}
li > div:nth-child(3) {
    min-width: 100px;
    text-align: right;
}
a:hover {
    text-decoration: none;
}
</style>

<div id="inbox">
    <h1>Index of /var/spool/mail/ferry</h1>
    <ul>
        <li><div><a href="{{ '/' }}">../</a></div></li>
        {% for post in site.mail %}
            <li>
                <div><a href="{{ post.url }}">{{ post.subject }}</a></div>
                <div>{{ post.date | date: "%Y-%m-%d %H:%M" }}</div>
                <div>{{ post.content | number_of_words }}</div>
            </li>
        {% endfor %}
    </ul>
</div>
